/* Add a background image */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  background: url('../public/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Add a dark overlay */
  padding: 2rem;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.welcome-message {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff; /* Change text color to white */
  font-weight: bold;
}

.login-button {
  background-color: #838383;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  text-align: center;
  margin: auto;
  display: flex;

  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 200px;
}

.login-button:hover {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.05);
}

/* Connected container */
.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.connected-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.connected-account {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

.connected-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.connected-button:hover {
  background-color: #0069d9;
}

.connected-contract-address {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}

/* Candidates table */
.candidates-table {
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}

.candidates-table th, .candidates-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.candidates-table th {
  background-color: #f2f2f2;
}

/* Input text styling */
input[type=text] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}
